{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/cartrips/cartrip-detail.css' %}" />
{% endblock %}

{% block content %}

<section class="cartrip-container card">
  
  <!-- Card Content -->
  <div class="cartrip-content">
    <h1>{{ cartrip.event_name }}</h1>
    <p class="trip-info">Location: {{ cartrip.location }}</p>
    <p class="trip-info">Date: {{ cartrip.date }}</p>
    {% if cartrip.notes %}
    <p><strong>Notes:</strong> {{ cartrip.notes }}</p>
    {% endif %}
  </div>

  <!-- Actions -->
  <div class="cartrip-actions">
    <a href="{% url 'cartrip-update' cartrip.id %}" class="btn warn">Edit</a>
    <a href="{% url 'cartrip-delete' cartrip.id %}" class="btn danger">Delete</a>
  </div>

</section>

{% endblock %}
